* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
}

body {
    padding: 32px;
}

h1 {
    color: #1A202C;
    font-size: 48px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

.purple {
    color: #6415ff;
}

#logo {
    font-weight: 900;
    font-size: 24px;
    text-decoration: none;
    color: #243E63;
    display: flex;
    align-items: center;
}

.logo__img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

nav {
    height: 44px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav__link {
    font-size: 14px;
    font-weight: bold;
    color: #243E63;
    padding: 0 24px;
    text-align: center;
    align-self: center;
    
}

.nav__link--login {
    padding-left: 48px;
}

.nav__link--primary {
    padding: 12px 32px;
    background-color: #6415ff;
    color: #f7fafc;
    border-radius: 9999px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 96px 0;
}

.section__description {
    display: flex;
    justify-content: space-between;
}

.section__description--wrapper {
    width: 41.33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section__description--para {
    font-size: 18px;
    line-height: 1.5;
    color: #243E63;
    padding: 32px 0;
}

.email__submit {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px 192px 20px 32px; */
    border-radius: 9999px;
    border: 2px solid #e5e7eb;
    overflow: hidden;
    left: 0;
}

.email__submit--input {
    font-size: 16px;
    font-weight: bold;
    color: #e5e7eb;
    padding: 20px 0 20px 32px;
    align-self: center;
    border: none;
}

.email__submit--button {
    width: 160px;
    font-size: 16px;
    font-weight: bold;
    color: #f7fafc;
    padding: 15px;
    margin-right: 5px;
    background-color: #6415ff;
    border-radius: 9999px;
    align-self: center;
    border: none;
}


.trusted__customers {
    margin-top: 80px;
    color: #A0AEC0;
    font-size: 12px;
    font-weight: bold;
}

.customers__logos {
    margin-top: 16px;
    width: 76%;
}

.introduction__image {
    right: 0;
    bottom: 0;
    max-width: 746.67px;
    max-height: 511.66px;
}





@media (max-width: 1280px) {
    .introduction__image {
        width: 512px;
        height: 368.29px;
    }

    .introduction__image--wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
    }

    .section__description--heading {
        font-size: 36px;
    }

    .section__description--para {
        font-size: 16px;
    }

}

@media (max-width: 1023px) {
    .introduction__image {
        width: 512px;
        height: 368.29px;
    }

    .introduction__image--wrapper {
        display: flex;
        justify-content: center;
    }

    .section__description--heading {
        font-size: 30px;
    }

    .section__description--para {
        padding: 16px 0;
    }

    .section__description {
        max-width: 512px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .section__description--wrapper {
        width: 100%;
        max-width: 512px;
        flex-direction: column;
        align-items: center;
    }

    .customers__logos {
        width: 100%;
    }

    .trusted__customers {
        font-size: 14px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}